*.log
.DS_Store
.env.backup
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Prevent bloat from being committed
**/node_modules/
*.zip
*.tar.gz
*.rar
public/assets/datatable*/
public/assets/KAdmin/ckeditor5/new/
public/assets/KAdmin/ckeditor5/*-master/
public/assets/KAdmin/ckeditor5/*-master.zip
public/assets/FontAwesome.Pro.*/less/
public/assets/FontAwesome.Pro.*/scss/
public/assets/FontAwesome.Pro.*/metadata/
public/assets/FontAwesome.Pro.*/sprites/
public/assets/FontAwesome.Pro.*/svgs/
public/assets/FontAwesome.Pro.*/js/
public/assets/css/backup/
public/assets/fancybox*/
public/assets/chartjs/
public/assets/bootstrap/
public/templates.zip

# Generated/debug files
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
clear-cache.php
debug-assets.php
*.sql
database/database.sqlite
